.about-sec {
    border: 3px solid #34b1eb;
    width: 500px;
    height: 150px;
    padding: 10px;
}

.about-div {
    display: flex;
    text-align: center;
    justify-content: center;
    top: 50%;
    transform: translateY(50%);
}