.Home {
    text-align: center;
    align-items: center;
    font-family: 'Futura', sans-serif;
}

.about {
    margin-left: 200px;
    margin-right: 200px;
}

.langinfo {
    text-align: left;
    font-size: 90%;
    margin-bottom: 30px;
}

.lang-right {
    width: 500px;
    margin-left: 850px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: inline-block;
}

.lang-left {
    width: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-right: 100px;
    display: inline-block;
}

#python-screen {
    height: 225px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-right {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

.hor-sec {
    vertical-align: top;
    display: flex;
    margin-bottom: 50px;
}

#java-screen {
    height: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(25%);
}

.img-left {
    display: inline-block;
    margin-left: 90px;
    margin-right: -125px;
}