#signup-div {
    font-family: 'Futura', sans-serif;
    height: 714px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/bgor.jpeg");
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#login-header {
    text-align: center;
    width: 800px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-bottom: 20px;
}

#err-msg {
    display: block;
}

.inputs {
    width: 500px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
}

.labels {
    text-align: start;
    margin-bottom: 5px;
}

#lib {
    margin-bottom: 40px;
}

.forms {
    border: 0px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.half-name {
    border: 0px solid black;
    width: 200px;
    display: inline-block;
}

#name-form {
    display: flex;
    justify-content: space-between;
}

#sign-err {
    text-align: left;
    margin-top: 20px;
}