#logo {
    width: 200px;
    height: 200px;
}

.widget {
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(19, 173, 245, 0.1);
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.txt {
    margin-bottom: 50px;
}

.buttons {
    text-align: center;
    margin-top: -25px;
}

.opts {
    display: inline-block;
}

#vc {
    margin-right: 10px;
}

#enr {
    margin-left: 10px;
}