#err-box {
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#err-txt {
    margin-left: 50px;
    color: red;
}